# Preprocessing

In [1]:
# Imports
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from sklearn.metrics import silhouette_score
import seaborn as sns

In [2]:
pre = False

In [3]:
if pre:
    link = "data/2021_Alumnos_pre_normalizadas.csv"
else:
    link = "data/2021_Alumnos_post_normalizadas.csv"
data = pd.read_csv(link)
data.head()

,Curso,Nivel,Codigo,Genero,Adaptacion,Puntuacion_profesor,Puntuacion_apoyo,Laboratorios_escuela,Laboratorios_comunicaciones,Sensibilizacion_ONG,...,Interes_asignaturas,Salida_profesional,Actividades_instituto,Dificultad_asignaturas,Trabajo,Respeto_cientificos,Efecto_vidas,No_gustar,Examenes,Decisiones_personales
0,AUTOMATIZACION,SENIOR,108472.0,Chico,Bien,10,1,Muy buena,Buena,Regular,...,3,3,3,1,3,2,4,2,1,4
1,AUTOMATIZACION,SENIOR,401577.0,Chica,Muy bien,10,10,Regular,No asistí,Regular,...,5,5,5,1,5,2,5,1,2,5
2,AUTOMATIZACION,SENIOR,611283.0,Chica,Muy bien,10,1,Muy buena,No asistí,Mala,...,4,3,4,1,3,3,5,1,1,5
3,AUTOMATIZACION,SENIOR,902236.0,Chica,Muy bien,9,5,Buena,Buena,Buena,...,4,5,4,2,3,4,4,1,3,4
4,AUTOMATIZACION,SENIOR,1107156.0,Chico,Muy bien,10,8,Muy buena,No asistí,Buena,...,5,5,5,1,5,4,4,1,2,4

In [4]:
data.columns

Index(['Curso', 'Nivel', 'Codigo', 'Genero', 'Adaptacion',
       'Puntuacion_profesor', 'Puntuacion_apoyo', 'Laboratorios_escuela',
       'Laboratorios_comunicaciones', 'Sensibilizacion_ONG', 'Material',
       'Ingenieria_despues', 'Dedicacion', 'Valoracion_ingenierias',
       'Nivel_matematicas', 'Recomendacion', 'Repetir', 'Puntuacion_curso',
       'Mejor_curso', 'Peor_curso', 'Mejorar', 'Gustar', 'Estudiar',
       'Entender', 'No_entender', 'Profesional', 'Actividades', 'Carrera',
       'Facilidad', 'Disfrutar', 'No_trabajo', 'Mundo_mejor',
       'Interes_asignaturas', 'Salida_profesional', 'Actividades_instituto',
       'Dificultad_asignaturas', 'Trabajo', 'Respeto_cientificos',
       'Efecto_vidas', 'No_gustar', 'Examenes', 'Decisiones_personales'],
      dtype='object')

## Calculate Dimensions

### Fix Negative variables

In [5]:
data.No_gustar = 6 - data.No_gustar
data.Profesional = 6 - data.Profesional
data.No_trabajo = 6 - data.No_trabajo
data.No_entender = 6- data.No_entender
data.Dificultad_asignaturas = 6 - data.Dificultad_asignaturas
data.Examenes = 6 - data.Examenes

In [6]:
data["Gusto"] = data[["Gustar", "Actividades", "Disfrutar", "Interes_asignaturas", "Actividades_instituto", "No_gustar"]].mean(axis=1)
data["Interes_profesional"] = data[["Estudiar", "Profesional", "Carrera", "No_trabajo", "Salida_profesional", "Trabajo"]].mean(axis = 1)
data["Autoeficacia"] = data[["No_entender", "Facilidad", "Dificultad_asignaturas", "Examenes"]].mean(axis = 1)
data["Utilidad"] = data[["Entender", "Mundo_mejor", "Respeto_cientificos", "Efecto_vidas", "Decisiones_personales"]].mean(axis = 1)

In [7]:
data.describe()

,Codigo,Puntuacion_profesor,Puntuacion_apoyo,Puntuacion_curso,Gustar,Estudiar,Entender,No_entender,Profesional,Actividades,...,Trabajo,Respeto_cientificos,Efecto_vidas,No_gustar,Examenes,Decisiones_personales,Gusto,Interes_profesional,Autoeficacia,Utilidad
count,7.470000e+02,747.000000,747.000000,747.000000,747.000000,747.000000,747.000000,747.000000,747.000000,747.000000,...,747.000000,747.000000,747.000000,747.000000,747.000000,747.000000,747.000000,747.000000,747.000000,747.000000
mean,5.548112e+31,9.358768,8.943775,9.220884,4.331995,4.170013,4.492637,4.319946,3.807229,3.657296,...,3.630522,3.945114,4.286479,4.423025,3.386881,4.184739,4.182285,3.877287,3.728581,4.299063
std,1.516371e+33,1.187429,2.160962,1.098716,0.896572,1.048047,0.779005,1.026807,1.286265,1.176323,...,1.194280,0.920972,0.880754,1.027976,1.334825,0.939530,0.790815,0.917571,0.828272,0.621368
min,0.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,7.105150e+05,9.000000,9.000000,9.000000,4.000000,4.000000,4.000000,4.000000,3.000000,3.000000,...,3.000000,3.000000,4.000000,4.000000,2.000000,4.000000,3.833333,3.333333,3.000000,4.000000
50%,1.611000e+06,10.000000,10.000000,10.000000,5.000000,5.000000,5.000000,5.000000,4.000000,4.000000,...,4.000000,4.000000,5.000000,5.000000,4.000000,4.000000,4.333333,4.000000,3.750000,4.400000
75%,2.407395e+06,10.000000,10.000000,10.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,4.833333,4.666667,4.250000,4.800000
max,4.144440e+34,10.000000,10.000000,10.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

## Reduce Dataset

In [8]:
if pre:
    data_red = data[['Codigo', 'Edad', 'Nivel', 'Genero', 'Gusto', 'Interes_profesional', 'Autoeficacia', 'Utilidad']]
else:
    data_red = data[['Codigo', 'Nivel', 'Genero', 'Gusto', 'Interes_profesional', 'Autoeficacia', 'Utilidad']]
data_red

,Codigo,Nivel,Genero,Gusto,Interes_profesional,Autoeficacia,Utilidad
0,108472.0,SENIOR,Chico,3.333333,3.166667,4.50,3.8
1,401577.0,SENIOR,Chica,5.000000,5.000000,4.75,4.4
2,611283.0,SENIOR,Chica,3.666667,3.333333,4.75,4.6
3,902236.0,SENIOR,Chica,4.333333,4.000000,3.75,4.0
4,1107156.0,SENIOR,Chico,4.666667,5.000000,4.50,4.2
...,...,...,...,...,...,...,...
742,2101024.0,SENIOR,Chica,4.166667,4.166667,4.50,4.4
743,2703000.0,SENIOR,Chico,3.666667,3.166667,4.00,4.0
744,2908377.0,SENIOR,Chico,3.166667,2.166667,3.75,3.6
745,2912000.0,SENIOR,Chico,4.833333,5.000000,4.00,4.4
746,3008623.0,SENIOR,Chica,4.666667,4.333333,3.25,4.8

In [9]:
if pre:
    data_red.to_csv("data/2021_Alumnos_pre_red.csv", index = False)
else:
    data_red.to_csv("data/2021_Alumnos_post_red.csv", index = False)